@page "/calculator"
@inject HttpClient Http

<h1>Calculator</h1>

<p id="displayValue">@displayValue.ToString()</p>

<button id="one" @onclick="@(()=>SelectNumber(1))">1</button>
<button id="two" @onclick="@(()=>SelectNumber(2))">2</button>
<button id="three" @onclick="@(()=>SelectNumber(3))">3</button>
<button id="four" @onclick="@(()=>SelectNumber(4))">4</button>
<button id="five" @onclick="@(()=>SelectNumber(5))">5</button>
<button id="six" @onclick="@(()=>SelectNumber(6))">6</button>
<button id="seven" @onclick="@(()=>SelectNumber(7))">7</button>
<button id="eight" @onclick="@(()=>SelectNumber(8))">8</button>
<button id="nine" @onclick="@(()=>SelectNumber(9))">9</button>
<button id="zero" @onclick="@(()=>SelectNumber(0))">0</button>
<button id="plus" @onclick="PlusCommand">+</button>
<button id="equals" @onclick="EqualsCommand">=</button>


@code {
    private int displayValue = 0;
    private int storedValue = 0;

    private void SelectNumber(int number)
    {
        if(displayValue.Equals(0)){
            displayValue = number;
            return;
        }

        displayValue = int.Parse($"{displayValue}{number}");
    }

    private void PlusCommand()
    {
        storedValue += displayValue;
        displayValue = 0;
    }

    private void EqualsCommand()
    {
        storedValue += displayValue;
        displayValue = storedValue;
    }
}